
<!DOCTYPE html>
<html>
<head>
	<title>MeuVoto</title>
	<meta charset="utf-8">
	link(rel='stylesheet', href='/stylesheets/estilo.css')
</head>
<body>

	<div id="area-cabecalho">
		
		<div id="area-logo">
			<h1>Meu<span class="branco">Voto</span></s></h1>
		</div>

		<div id="area-menu">
			<a href="/">Pagina Principal</a>
			<a href="">Funcionalidades</a>
			<a href="login">Login</a>
			<a href="">Criar Conta</a>
			<a href="">Ajuda</a>
		</div>

	</div>

	<div id="area-principal">

		<div id="area-postagens">
			
			<!-- Abertura postagem -->

			<div class="postagem">
				<h2>O seu sistema de votações</h2>
				
				img(src= '/images/meu-voto.jpg')

				<p>
					O MeuVoto é um sistema de votações de propósito geral. Seja qual for sua necessidade nós temos a solução!
				</p>
				
			</div>
			<!-- // Fechamento postagem-->

			<!-- Abertura postagem -->
			<div class="postagem">
				<h2>Votação inteligente</h2>

				<br>

				<p>
						l Ao utilizar nossos serviços você contará com um rápido meio para promoção de votações e abandonrá de vez os lentos e arcaicos tradicionais meios de votação.
				</p>

			</div>  <!-- // Fechamento postagem-->

		</div>

		<div id="area-lateral">
			
			<div class="conteudo-lateral">
				<h3>Postagens recentes</h3>
				
				<div class="postagem-lateral">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="">Leia mais</a>
				</div>

				<hr>

				<div class="postagem-lateral">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<a href="">Leia mais</a>
				</div>

			</div>

			<div class="conteudo-lateral">
				<h3>Categorias</h3>
				
				<a href="">Jogos</a><br>
				<a href="">Celulares</a><br>
				<a href="">Informática</a><br>			
			</div>

		</div>

		<div id="area-rodape"> Todos os direitos reservados </div>

	</div>

</body>
</html>