<!DOCTYPE html>
<html>
	<head>
		
		<title> Login </title>

		<!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- CSS -->
		link(rel='stylesheet', href='/stylesheets/estilo.css')

	</head>		

	<body>

	<div id="area-cabecalho">
		
		<div id="area-logo">
			<h1>Meu<span class="branco">Voto</span></s></h1>
		</div>

		<div id="area-menu">
			<a href="/">Pagina Principal</a>
			<a href="">Funcionalidades</a>
			<a href="login">Login</a>
			<a href="">Criar Conta</a>
			<a href="">Ajuda</a>
		</div>

	</div>

		<div align="center">
			img(src= '/images/meu-voto.jpg')
			<h1> Login to your account </h1>
				<div align="center">
					<form action ="/reajusta" method="POST">
						
						<label for="email"> Email:</label>
						<input type="email" name="email" id="email"> 
						<br>
						<label for="password"> Password:</label>
						<input type="password" name="password" id="password">
						<br><br>
						<input type="submit" value="Login">
					</form>
					<br>
					<h2> Forget Password?</h2>
					<p>no worries, click here to reset your password.</p>
				</div>
		</div>
	</body>


</html>